.info-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% auto;
  row-gap: 20px;
}

.info-card {
  margin: 10px 20px 20px 0;
}

.checkIn-button {
  font-size: large;
}

.ancillary-service-selector {
  grid-column: 1 / span 2;
}
