.seatmap-main {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-grid {
  display: grid;
  grid-template-columns: auto 50px auto;
}
.row-number {
  margin: 30%;
  font-weight: bold;
  background-color: dimgray;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-self: center;
}

.legend-info {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  position: absolute;
  bottom: 0;
}

.legend-header {
  font-size: 16px;
  background-color: whitesmoke;
  grid-column: 1 / span 2;
  text-align: center;
}